
.bar {
    background-color: #f1c40f;
}
.logo {
    font-weight: bold;
    font-size: 1.5rem;
}
.navmenu {
    font-size: 1.2rem;
    font-weight: 700;
}


.user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 1rem;
}